<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MacolaSynch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MacolaSynch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <MacolaSynch.Properties.Settings>
            <setting name="accessFilePath" serializeAs="String">
                <value>\\ppi-nas-1.ppi.trimacpanel\PPI-Enterprise\Inventory\DATA FILE.mdb</value>
            </setting>
            <setting name="emailAlertsTo" serializeAs="String">
                <value>mbauer@trimacpanel.com</value>
            </setting>
            <setting name="emailFrom" serializeAs="String">
                <value>noreply@trimacpanel.com</value>
            </setting>
            <setting name="emailHostname" serializeAs="String">
                <value>trimacpanel-com.mail.protection.outlook.com</value>
            </setting>
            <setting name="emailUsername" serializeAs="String">
                <value>4c1939dcabaffd79b7aee6559fcbdb9d</value>
            </setting>
            <setting name="emailPassword" serializeAs="String">
                <value>20ca13e88a5bac31bb61b5af132fee10</value>
            </setting>
            <setting name="emailPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="locationCode" serializeAs="String">
                <value>PPI</value>
            </setting>
            <setting name="logPath" serializeAs="String">
                <value>c:\MacolaSynch\log.txt</value>
            </setting>
        </MacolaSynch.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <MacolaSynch.Properties.Settings>
            <setting name="macolaConnection" serializeAs="String">
                <value>server=macola;database=DATA_01;Trusted_Connection=True;</value>
            </setting>
            <setting name="emailUpdatesTo" serializeAs="String">
                <value>tcoyle@trimacpanel.com</value>
            </setting>
        </MacolaSynch.Properties.Settings>
    </userSettings>
</configuration>