<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MacolaSynch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MacolaSynch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <MacolaSynch.Properties.Settings>
            <setting name="accessFilePath" serializeAs="String">
                <value>c:\MacolaSynch\DATA FILE.mdb</value>
            </setting>
            <setting name="emailSummaryTo" serializeAs="String">
                <value>tcoyle@trimacpanel.com</value>
            </setting>
            <setting name="emailFrom" serializeAs="String">
                <value>noreply@trimacpanel.com</value>
            </setting>
            <setting name="emailHostname" serializeAs="String">
                <value>in-v3.mailjet.com</value>
            </setting>
            <setting name="emailUsername" serializeAs="String">
                <value>4c1939dcabaffd79b7aee6559fcbdb9d</value>
            </setting>
            <setting name="emailPassword" serializeAs="String">
                <value>bc56965912839358636c1e249521c21f</value>
            </setting>
            <setting name="emailPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="locationCode" serializeAs="String">
                <value>TMV</value>
            </setting>
            <setting name="logPath" serializeAs="String">
                <value>c:\MacolaSynch\log.txt</value>
            </setting>
        </MacolaSynch.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <MacolaSynch.Properties.Settings>
            <setting name="macolaConnection" serializeAs="String">
                <value>server=macola;database=DATA_01;user id=sa;password=trimac2k</value>
            </setting>
        </MacolaSynch.Properties.Settings>
    </userSettings>
</configuration>